{% load static %}

<style>
    #navbar-head {        
        justify-content: flex-end;
    }

    #nav-profile-items {
        display: flex;
        align-items: center;
    }

    #nav-toggle-item {
        text-align: right
    }
    .inner-navbar {
        display: flex;
       align-items: center;
    }
</style>
<header class="main-header header-2 fixed-header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar-head">
            <div class="navbar-buttons d-none d-xl-block d-lg-block">
                <ul id="nav-profile-items">
                    <li>
                        <a href="" data-toggle="modal" data-target="#exampleModal" class="btn btn-theme btn-md" style="margin-top:0; width: 14em;">
                            <i class="flaticon-plus"></i>
                            افزودن پروژه
                        </a>
                    </li>
                    <li>
                        <div class="dropdown btns">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ user.get_avatar }}" alt="avatar" class="avatar">
                                    {{request.user.first_name}}
                            </a>
                            <div class="dropdown-menu" id="nav-toggle-item">
                                <a class="dropdown-item" href="{% url 'account:dashboard' %}">داشبورد</a>
                                <a class="dropdown-item" href="messages.html">پیام ها</a>                                    
                                <a class="dropdown-item" href="edit-profile.html">ویرایش پروفایل</a>
                                <a class="dropdown-item" href="index.html">خروج</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto d-lg-none d-xl-none" id="nav-toggle-item">
                    <li class="nav-item dropdown">
                        <a href="{% url 'account:dashboard' %}" class="nav-link">داشبورد</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a href="applied.html" class="nav-link">افزودن پروژه</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="applied.html" class="nav-link">مدیریت پروژه ها</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="applied.html" class="nav-link">مدیریت اپلای های ارسالی</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="applied.html" class="nav-link">مدیریت اپلای های دریافتی</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="messages.html" class="nav-link">پیام ها</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="alerts.html" class="nav-link">اعلانات و اطلاعیه ها</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="edit-profile.html" class="nav-link">ویرایش پروفایل</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="index.html" class="nav-link">خروج</a>
                    </li>
                </ul>               
            </div>
            <div class="inner-navbar">
                <a class="navbar-brand logo pad-0" href="index.html">
                    <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
        </nav>
    </div>
</header>