{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>سوالات متداول</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'job:home' %}">خانه</a></li>
                <li class="active">سوالات متداول</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Faq start -->
<div class="faq content-area-9">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>سوالات متداول</h1>
            <p>در زیر تمامی سوالاتی که ممکن است در طول استفاده از سایت ما بای شما پیش اید قرار داده شده است</p>
        </div>
        <div class="row" >
            <div class="col-lg-10 offset-lg-1">
                <div id="faq" class="faq-accordion">
                    <div class="card m-b-0">
                        {% for faq in faqs %}
                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse1">
                                    {{faq.question}}
                                </a>
                            </div>
                            <div id="collapse1" class="card-block collapse">
                                <div class="p-text">
                                    {{faq.answer.html|safe}}
                                </div>
                            </div>                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq end -->

{% endblock content %}
