{% extends 'base/base.html' %}
{% load static %}


<!-- Banner end -->
{% block content %}
    <!-- Contact section start -->
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form content box start -->
                    <div class="form-content-box">
                        <!-- details -->
                        <div class="details" style="margin-top: 150px">
                            <!-- Logo-->
                            <a href="#">
                                <img src="{% static "img/black-logo.png" %}" class="cm-logo" alt="black-logo" style="margin-bottom: 15px">
                            </a>
                            <!-- Name -->
                            <h3>ایجاد اکانت جدید</h3>
                            <!-- Form start-->
                            
                            <form class="myForm" action="{% url 'account:register' %}" method="POST">
                                {% csrf_token %}
                                {% for field in form_register.visible_fields %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p style="color: #ff6969;">{{error}}</p>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="form-group">
                                        {{field}}
                                    </div>
                                {% endfor %}

                                <div class="form-group mb-0">
                                    <button type="submit" class="btn-md button-theme btn-block">ثبت نام</button>
                                </div>
                            </form>

                            <!-- Social List -->
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer -->
                        <div class="footer">
                            <span>عضو هستید ؟ <a href="{%url 'account:login'%}">وارد شوید</a></span>
                        </div>
                    </div>
                    <!-- Form content box end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact section end -->

    <!-- Change navbar colors -->    
    <script>
        document.getElementById("nav-head").style.background="#161616";
    </script>
    
{% endblock content %}

