{% extends 'base/base.html' %}
{% load static %}


<body class="bg-grea">
<div class="page_loader"></div>
{% block content %}

<!-- Contact section start -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Logo-->
                        <a href="index.html">
                            <img src="img/black-logo.png" class="cm-logo" alt="black-logo">
                        </a>
                        <!-- Name -->
                        <h3>Create an account</h3>
                        <!-- Form start-->
                        <form action="http://theme-vessel-templates.theme-vessel.ey.r.appspot.com/jobb/index.html" method="GET">
                            <div class="form-group">
                                <input type="text" name="fullname" class="input-text" placeholder="نام و نام خانوادگی">
                            </div>
                            <div class="form-group">
                                <input type="username" name="username" class="input-text" placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="input-text" placeholder="ایمیل">
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" class="input-text" placeholder="پسورد">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm_Password" class="input-text" placeholder="تکرار پسورد">
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md button-theme btn-block">Signup</button>
                            </div>
                        </form>
                        <!-- Social List -->
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>عضو هستید ؟ <a href="{%url 'account:login'%}">وارد شوید</a></span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="http://theme-vessel-templates.theme-vessel.ey.r.appspot.com/jobb/index.html#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>
{% endblock content %}

