<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-585NKBP');</script>
        <!-- End Google Tag Manager -->
        <title>فریلنسر</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <!-- External CSS libraries -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-submenu.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" type="text/">
        <link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/">
        
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons/style.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'css/jquery.mCustomScrollbar.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'css/dropzone.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'css/slick.css' %}">

        <!-- Custom stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'css/skins/midnight-blue.css' %}">

        <!-- Favicon icon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >

        <!-- Google fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis%7CMontserrat:200,300,400,500,600,700,800,900%7CNunito+Sans:200,300,400,600,700,800,900">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script  src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
        <script  src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script  src="{% static 'js/html5shiv.min.js"></script>
        <script  src="{% static 'js/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/project-dashboard.css' %}">

        <!--
            Load QUIIl forms.
        -->
        {% block custom_tag %}
        {% endblock custom_tag%}
    </head>
    <body >
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-585NKBP"
                    height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="page_loader"></div>

        <!-- Main header start -->
        {% include "base/inc/header.html" %}
        <!-- Main header end -->

        <!-- Dashbord start -->
        <div class="dashboard">
            <div class="container-fluid">
                <div class="row" dir="rtl">
                    {% include "base/inc/menu.html" %}
                    {% block content %}
                    {% endblock content %} 
                </div>
            </div>
        </div>
        <!-- Dashbord end -->

        <script  src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script  src="{% static 'js/popper.min.js' %}"></script>
        <script  src="{% static 'js/bootstrap.min.js' %}"></script>
        <script  src="{% static 'js/bootstrap-submenu.js' %}"></script>
        <script  src="{% static 'js/rangeslider.js' %}"></script>
        <script  src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
        <script  src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script  src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script  src="{% static 'js/jquery.scrollUp.js' %}"></script>
        <script  src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script  src="{% static 'js/leaflet.js' %}"></script>
        <script  src="{% static 'js/leaflet-providers.js' %}"></script>
        <script  src="{% static 'js/leaflet.markercluster.js' %}"></script>
        <script  src="{% static 'js/moment.min.js' %}"></script>
        <script  src="{% static 'js/daterangepicker.min.js' %}"></script>
        <script  src="{% static 'js/dropzone.js' %}"></script>
        <script  src="{% static 'js/slick.min.js' %}"></script>
        <script  src="{% static 'js/jquery.filterizr.js' %}"></script>
        <script  src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script  src="{% static 'js/jquery.countdown.js' %}"></script>
        <script  src="{% static 'js/maps.js' %}"></script>
        <script  src="{% static 'js/app.js' %}"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script  src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <!-- Custom javascript -->
        <script  src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>        
    </body>
</html>