<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-585NKBP');</script>
        <!-- End Google Tag Manager -->
        <title>فریلنسر</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <!-- External CSS libraries -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-submenu.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" type="text/">
        <link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/">
        
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons/style.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'css/jquery.mCustomScrollbar.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'css/dropzone.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'css/slick.css' %}">

        <!-- Custom stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'css/skins/midnight-blue.css' %}">

        <!-- Favicon icon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >

        <!-- Google fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis%7CMontserrat:200,300,400,500,600,700,800,900%7CNunito+Sans:200,300,400,600,700,800,900">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script  src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
        <script  src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script  src="{% static 'js/html5shiv.min.js"></script>
        <script  src="{% static 'js/respond.min.js"></script>
        <![endif]-->
        {% block header %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
    </head>

    <body dir="rtl">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-585NKBP" 
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <div class="page_loader"></div>
        
        <!-- Main header start -->
        {% include 'nav/navbar.html' %}
        <!-- Main header end -->       
    
        <!-- Start Show Messages -->
        {% include 'messages/messages.html' %}
        <!-- End Show Messages -->        

        <!-- Start Content -->
        {% block content %}
        {% endblock content %}
        <!-- End Content -->
        
        <!-- Footer start -->
        <footer class="footer">
            <div class="container footer-inner">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-item clearfix">
                            <img src="{% static 'img/logos/logo.png' %}" alt="logo" class="f-logo">
                            <ul class="contact-info">
                                <li>
                                    <i class="flaticon-pin"></i>20/F Green Road, Dhanmondi, Dhaka
                                </li>
                                <li>
                                    <i class="flaticon-mail"></i><a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                                </li>
                                <li>
                                    <i class="flaticon-internet"></i><a href="mailto:sales@hotelempire.com">info@themevessel.com</a>
                                </li>
                                <li>
                                    <i class="flaticon-phone"></i><a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="footer-item">
                            <h4>لینک های کاربردی</h4>
                            <ul class="links">
                                <li>
                                    <a href="#">درباره ما</a>
                                </li>
                                <li>
                                    <a href="#">ارتباط با ما</a>
                                </li>
                                <li>
                                    <a href="#">قوانین و مقررات</a>
                                </li>
                                <li>
                                    <a href="#">حریم شخصی</a>
                                </li>
                                <li>
                                    <a href="#">رهنما</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="footer-item">
                            <h4>کارفرمایان</h4>
                            <ul class="links">
                                <li>
                                    <a href="#">ایجاد اکانت</a>
                                </li>
                                <li>
                                    <a href="#">خدمات</a>
                                </li>
                                <li>
                                    <a href="#">افزودن پروژه</a>
                                </li>
                                <li>
                                    <a href="#">سوالات متداول</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-8 col-sm-12">
                        <div class="footer-item clearfix">
                            <h4>دریافت جدید ترین رویداد ها</h4>
                            <div class="Subscribe-box">
                                <p>میتونید ما رو دنبال کنید و خیلی سریع از اتفاقاتی که میفته باخبر بشید<p>
                                <form class="form-inline" action="#" method="GET">
                                    <input type="text" class="form-control mb-sm-0" id="inlineFormInputName3" placeholder="Email Address">
                                    <button type="submit" class="btn"><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

        <!-- Sub footer start -->
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <p class="copy">© 2022 <a href="#">فریلنسر.</a> کلیه حقوق برای شهر خاکستری محفوظ است .</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sub footer end -->

        <!-- Full Page Search -->
        <div id="full-page-search">
            <button type="button" class="close">×</button>
            <form action="http://theme-vessel-templates.theme-vessel.ey.r.appspot.com/jobb/index.html#">
                <input type="search" value="" placeholder="type keyword(s) here" />
                <button type="submit" class="btn btn-sm button-theme">Search</button>
            </form>
        </div>

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script  src="{% static 'js/bootstrap-submenu.js' %}"></script>
        <script  src="{% static 'js/rangeslider.js' %}"></script>
        <script  src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
        <script  src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script  src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script  src="{% static 'js/jquery.scrollUp.js' %}"></script>
        <script  src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script  src="{% static 'js/leaflet.js' %}"></script>
        <script  src="{% static 'js/leaflet-providers.js' %}"></script>
        <script  src="{% static 'js/leaflet.markercluster.js' %}"></script>
        <script  src="{% static 'js/moment.min.js' %}"></script>
        <script  src="{% static 'js/daterangepicker.min.js' %}"></script>
        <script  src="{% static 'js/dropzone.js' %}"></script>
        <script  src="{% static 'js/slick.min.js' %}"></script>
        <script  src="{% static 'js/jquery.filterizr.js' %}"></script>
        <script  src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script  src="{% static 'js/jquery.countdown.js' %}"></script>
        <script  src="{% static 'js/maps.js' %}"></script>
        <script  src="{% static 'js/app.js' %}"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script  src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <!-- Custom javascript -->
        <script  src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>        
    </body>
</html>
