{% if jobs.paginator.count != 0 %}

<div class="pagination-box hidden-mb-45 text-center">
    <ul class="pagination">
        {% if jobs.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ jobs.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">قبلی</a>
                </li>
        {% endif %}

        {% if jobs.paginator.count >= 5 %}

            {% for num in jobs.paginator.get_elided_page_range %}
                {% if num == jobs.number %}
                    <li class="page-item page-link">
                        {{ num }}
                    </li>
                {% else %}                  
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

        {% endif %}

        {% if jobs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ jobs.next_page_number}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">بعدی</a>
        {% endif %}
    </ul>
</div>
{% endif %}




