{% extends 'base/base.html' %}

{% load static %}

{% block custom_tag %}
{{ forms.media }}
{% endblock custom_tag %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5 dashboard-content">
        <div class="submit-address dashboard-list">
            <form method="POST">
                {% csrf_token %}
                
                    {{form.as_p}}
                    <input type="submit" class="btn btn-primary" value="ارسال پیشنهاد">
            </form>
        </div>
    </div>
</div>
{% endblock content %}