{% extends 'base/base.html' %}
{% load static %}
{% load project_tags %}

{% block custom_tag %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/project-details.css' %}">
{% endblock custom_tag %}


{% block content %}
<!-- Banner start -->
<div class="banner bg-color-full" id="banner">
    <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item banner-max-height active">
                <img class="d-block w-100 h-100" src="{% static 'img/banner/banner-2.jpg' %}" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex text-center"></div>
            </div>
        </div>
    </div>


    
    <div class="banner-inner" dir="ltr">
        <div class="container">
            <div class="text-center">
                <h3 class="b-text">پیدا کردن شغلت</h3>
                <p>پیدا کردن شغل و پروژه با بهتری شرایط ممکن</p>
                <div class="inline-search-area ml-auto mr-auto none-768">
                    <div class="search-boxs">
                        <div class="search-col">
                            <input type="text" name="search" class="form-control has-icon b-radius" placeholder="project title, Keywords or company name">
                        </div>
                        <div class="search-col">
                            <select class="selectpicker search-fields" name="location">
                                <option>ایران</option>
                                <option>چین</option>
                                <option>هند</option>
                            </select>
                        </div>
                        <div class="find">
                            <button class="btn button-theme btn-search btn-block b-radius">
                                <i class="fa fa-search"></i><strong>جستوجو</strong>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="banner-counter-box none-768">
                    <div class="counter-box">
                        <h1 class="counter">2967</h1>
                        <p>تعداد کل شغل ها</p>
                    </div>
                    <div class="counter-box">
                        <h1 class="counter">167</h1>
                        <p>تعداد کمپانی ها</p>
                    </div>
                    <div class="counter-box">
                        <h1 class="counter">150</h1>
                        <p>تعداد فریلنسر ها</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Popular categories strat -->
<div class="popular-categories content-area-7">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>دسته بندی های محبوب</h1>
            <p>خیلی راحت میتونی کار یا پروژت رو اینجا پیدا کنی.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="categorie-box">
                    <i class="flaticon-money"></i>
                    <h5>تلگرام</h5>
                    <span>(2143)</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="categorie-box">
                    <i class="flaticon-mortarboard"></i>
                    <h5>DevOps</h5>
                    <span>(742)</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="categorie-box">
                    <i class="flaticon-shout"></i>
                    <h5>بک اند </h5>
                    <span>(341)</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="categorie-box">
                    <i class="flaticon-radar"></i>
                    <h5>فرانت  کار</h5>
                    <span>(410)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popular categories end -->

<!-- project section strat -->
<div class="project-section content-area-5 bg-grea">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>فرصت های ویژه</h1>
            <p>
                .با قرار گرفتن پروژه هاتون داخل بوردر میتونید خیلی سریع به فرد مورد نظرتون برسید
            </p>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-12" dir="rtl" style="text-align: right;">
                {% for project in projects %}
                    <div class="project-box">
                        <div class="related-project-header">
                            <div class="company-logo">
                                {% if project.image %}
                                    <img alt="my-properties-3" src="{{project.image.url}}" width="100" height="90" style="border-radius:5px;">
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="project-icon" fill="none" viewBox="0 0 24 24" stroke="#36c34c" stroke-width="1" width="120px" height="110px">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                                    </svg>
                                {% endif %}
                            </div>
                            <div class="related-project-top-header">
                                <h5 class="title">
                                    <a href="{% url 'project:detail-project' project.id %}">{{project.title}}</a>
                                </h5>
                                <ul class="related-project-require project-header-detail">
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="20px">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                        {{project.company_name}}
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="20px">
                                            <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                        </svg>
                                        {{project.place | cut:" "}}
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="20px">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        {{project.get_work_type_display}}
                                    </li>
                                </ul>
                            </div>
                            <h6 class="related-project-deadline">دد لاین:  {{project.project_pay.first.created|date:"M d Y"}}</h6>
                            <a href="#" class="apply-button">ارسال پیشنهاد</a>
                            <div class="tag-list">
                                {% get_project_tags project.get_tags %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center clearfix">
                    <a href="project-list.html" class="browse-all">نمایش تمام شغل ها</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project section end -->

<!-- Counters strat -->
<div class="counters bg-color-full-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-user"></i>
                    <h1 class="counter">1967</h1>
                    <p>یوزر</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-work"></i>
                    <h1 class="counter">667</h1>
                    <p>شغل</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-document"></i>
                    <h1 class="counter">475</h1>
                    <p>رزومه</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="counter-box">
                    <i class="flaticon-factory"></i>
                    <h1 class="counter">475</h1>
                    <p>شرکت</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->

<!-- Testimonial start -->
<div class="testimonial">
    <div class="container">
        <div class="main-title">
            <h1>فریلنسر های محبوب</h1>
        </div>
        <div class="slick-slider-area" dir="ltr">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>
                                من همیشه به دنبال انجام دادن پروژه هام با بهترین کیفیت
                                ممکن بودم و سعی میکنم هر روز بهتر عمل بکنم.
                            </p>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="{% static 'img/avatar/avatar-2.jpg' %}" alt="testimonial-avatar" class="img-fluid">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    علی رحمانی
                                </h5>
                                <h6>بک اند دولوپر</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>
                                شاید خیلیا نتونن سر قولشون بمون و با حوصله به حرف مشتری گوش بردن
                                ولی من میتونم
                            </p>
                        </div>
                        <div class="media">
                            <a href="#">
                                <img src="{% static 'img/avatar/avatar-3.jpg' %}" alt="testimonial-avatar" class="img-fluid">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    پیمان ساعدی
                                </h5>
                                <h6>Office Manager</h6>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Testimonial end -->

<!-- Partners strat 
<div class="partners content-area-15 bg-grea">
    <div class="container">
        <div class="main-title text-center">
            <h1>Companies We've Helped</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 5, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3}}, {"breakpoint": 768,"settings":{"slidesToShow": 2}}]}'>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-1.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-2.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-3.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-4.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-1.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-2.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-3.png' %}" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="{% static 'img/brand/brand-4.png' %}" alt="brand" class="img-fluid"></div>
            </div>
        </div>
    </div>
</div>
Partners end -->


<!-- Blog start -->
<div class="blog content-area" dir="ltr">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>در وبلاگ</h1>
            <p>
                اتفاقات و خبر 
            </p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="{% static 'img/blog/blog-2.jpg' %}" alt="blog" class="img-fluid">
                            <div class="date-box">
                                <span>27</span>Feb
                            </div>
                        </div>

                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">
                                    نوشتن یک رزومه خوب
                                </a>
                            </h3>
                            <div class="post-meta">
                                <span><a href="#"><i class="flaticon-male"></i>محمد</a></span>
                                <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                                <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                            </div>
                            <p>
                                به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ایپسوم بوده است
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="{% static 'img/blog/blog-3.jpg' %}" alt="blog" class="img-fluid">
                            <div class="date-box">
                                <span>23</span>Feb
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">مشکلت رایج</a>
                            </h3>
                            <div class="post-meta">
                                <span><a href="#"><i class="flaticon-male"></i>رضا</a></span>
                                <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                                <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                            </div>
                            <p>
                                به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ایپسوم بوده است    
                            </p>
                        </div>
                    </div>
                </div>

                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="{% static 'img/blog/blog-1.jpg' %}" alt="blog" class="img-fluid">
                            <div class="date-box">
                                <span>23</span>Feb
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">چگون سفارشمان را ثبت کنیم</a>
                            </h3>
                            <div class="post-meta">
                                <span><a href="#"><i class="flaticon-male"></i>علی</a></span>
                                <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                                <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                            </div>
                            <p>
                                به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ایپسوم بوده است    
                            </p>
                        </div>
                    </div>
                </div>

                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="{% static 'img/blog/blog-3.jpg' %}" alt="blog" class="img-fluid">
                            <div class="date-box">
                                <span>12</span>Feb
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">قابلیت های جدید که قرار اضافه بشه</a>
                            </h3>
                            <div class="post-meta">
                                <span><a href="#"><i class="flaticon-male"></i>علی</a></span>
                                <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                                <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                            </div>
                            <p>
                                به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ایپسوم بوده است    
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>

            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Blog end -->


{% endblock content %}


