{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}


{% block custom_tag %}
    {{ forms.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage-apply.css' %}">
{% endblock custom_tag %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5">
        <div class="dashboard-content">
            <div class="dashboard-header clearfix">
                <div class="row" id="breadcrumb-head">
                    <div class="col-sm-12 col-md-6" id="breadcrumb-title">
                        <h4>درخواست های دریافتی</h4>
                    </div>
                    <div class="col-sm-12 col-md-6" id="breadcrumb-items">
                        <div class="breadcrumb-nav" dir="ltr">
                            <ul>
                                {{get_breadcrumb}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-list">
                <div class="job-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>شماره</th>
                                <th>اسم پروژه</th>
                                <th>درخواست دهنده</th>
                                <th>تاریخ</th>
                                <th>وضعیت درخواست</th>
                                <th>اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candid in obj_list %}
                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{candid.project.title|truncatechars:30}}
                                    </td>
                                    <td>
                                        <a href="{% url 'account:candidate-profile' candid.user.username %}">
                                            {{candid.user.username}}
                                        </a>
                                    </td>
                                    <td>                                        
                                        {{ candid.created|jformat:"%Y/%m/%d" }}
                                    </td>
                                    <td>
                                        {% if candid.status == 'wait' %}
                                            <p class="project-status-wait">
                                                در حال انتظار
                                            </p>
                                        {% elif candid.status == 'reject'%}
                                            <p class="project-status-reject">
                                                رد شد
                                            </p>
                                        {% else%}
                                            <p class="project-status-accept">
                                                تایید شد
                                            </p>
                                        {% endif %}
                                    </td>                                    
                                    <td class="actions">
                                        <a href="#" title="مشاهد و پاسخ">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="edit-action" fill="none" viewBox="0 0 24 24" stroke="#62aaff" stroke-width="2" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'account/dashboard/inc/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}