{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5">
        <div class="dashboard-content">

            <div class="dashboard-header clearfix">
                <div class="row" id="breadcrumb-head">
                    <div class="col-sm-12 col-md-6" id="breadcrumb-title">
                        <h4>مدیریت درخواستای ارسالی</h4>
                    </div>
                    <div class="col-sm-12 col-md-6" id="breadcrumb-items">
                        <div class="breadcrumb-nav" dir="ltr">
                            <ul>
                                {{get_breadcrumb}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            


            <div class="dashboard-list">
                <div class="job-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>تاریخ</th>
                                <th>وضعیت درخواست</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sender in obj_list %}
                                <tr class="responsive-table">

                                    <td>
                                        {% if sender.project.id %}
                                            <a href="{% url 'project:detail-project' sender.project.id %}">{{sender.project.title}}</a>
                                        {% else %}
                                            <a href="{% url 'job:detail-job' sender.job.id %}">{{sender.job.title}}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ sender.created|jformat:"%Y/%m/%d"}}
                                    </td>
                                    <td>
                                        {% if sender.status == 'wait' %}
                                            در حال انتظار
                                        {% elif sender.status == 'reject'%}
                                            رد شد
                                        {% else%}
                                            تایید شد
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'account/dashboard/inc/pagination.html' %}

            </div>
        </div>
        <p class="sub-banner-2 text-center">© 2019 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
    </div>
</div>
{% endblock content %}