{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load delete_endpoint %}
{% load jformat %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5 dashboard-content">
        <div class="dashboard-header clearfix">
            <div class="row" id="breadcrumb-head">
                <div class="col-sm-12 col-md-6" id="breadcrumb-title">
                    <h4>مدیریت پروژه</h4>
                </div>
                    <div class="col-sm-12 col-md-6" id="breadcrumb-items">
                        <div class="breadcrumb-nav" dir="ltr">
                            <ul>
                                {{get_breadcrumb}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-list">
                <div class="project-info project-info-2">
                    <table class="table" id="project-table" >
                        <thead >
                            <tr>
                                <th class="hdav">آواتار</th>
                                <th>عنوان</th>
                                <th class="ds-none"></th>
                                <th class="hdn">تاریخ</th>
                                <th class="hd-req">تعداد درخواست ها</th>
                                <th class="hd-stat">وضعیت</th>
                                <th> </th>
                                <th>پرداخت</th>
                                <th class="actions">اکشن</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for project in obj_list %}
                                <tr class="responsive-table" id="project-table-{{project.id}}">
                                    <td class="hdav">
                                        <a href="{% url 'project:detail-project' project.id %}">
                                            {% if project.image %}
                                                <img alt="my-properties-3" src="{{project.image.url}}" width="100" height="90" style="border-radius:5px;">
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" class="project-icon" fill="none" viewBox="0 0 24 24" stroke="#36c34c" stroke-width="1" width="120px" height="110px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                                                </svg>
                                            {% endif %}
                                        </a>
                                    </td>

                                    <td class="head-project">
                                        <div class="inner">
                                            <h5>
                                                <a href="{% url 'project:detail-project' project.id %}">{{project.title|truncatechars:30}}</a>
                                            </h5>
                                        </div>
                                    </td>

                                    <td class="hdn">
                                        {{project.created|jformat:"%Y/%m/%d"}}
                                    </td>

                                    <td class="hd-req">
                                        {{project.project_applay.count}}
                                    </td>
                                    <td class="hd-stat">
                                        {% if project.status %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" width="30px" stroke="#31ef86">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                                            </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" width="30px" stroke="#f94141">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td class="pay">
                                        {% if project.paid and project.publish_status == "publish" %}
                                            
                                            <div class="payed-project">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#39cf4c" stroke-width="1" width="30px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                                </svg>
                                                منتشر شده
                                            </div>
                                        {% elif project.paid and  project.publish_status == "wait" %}
                                            <div class="payed-project" style="border-color: #e6ce59">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#e6ce59" stroke-width="1" width="30px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                                </svg>
                                                در انتظار تایید
                                            </div>
                                        {% elif project.paid and  project.publish_status == "reject" %}
                                            <div class="payed-project" style="border-color: #fe6767">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fe6767" stroke-width="1" width="30px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                                </svg>
                                                تایید نشد
                                            </div>

                                        {% else %}
                                            <a href="{% url 'payment:send_request' project.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#5a36f5" stroke-width="1" width="30px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                                </svg>
                                                پرداخت و انتشار
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="actions">
                                        {% if not project.paid%}
                                            <a href="{% url 'project:edit-project' project.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="edit-action" fill="none" viewBox="0 0 24 24" stroke="#62aaff" stroke-width="2" width="20px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                </svg>
                                            </a>
                                        {% else %}
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#adadad" stroke-width="2" width="20px">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                </svg>
                                            </a>
                                        {% endif %}
                                        <a href="#delete-modal-{{project.id}}" class="trigger-btn" data-toggle="modal">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="delete-action" fill="none" viewBox="0 0 24 24" stroke="#f15e5e" stroke-width="2" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                <div class="modal-confirm modal fade" id="delete-modal-{{project.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close pr-3 pt-3" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="col-xs-3 flex-services">
                                                <div class="icon-box">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#f15e5e" stroke-width="2">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </div>
                                                <h2 class="modal-title">آیا مطمن هستید؟</h2>
                                            </div>
                                            <div class="mt-4">
                                                <p>
                                                    آیا واقعا میخواید پروژه
                                                    <span class="text-info">{{ obj_list.first }}</span> 
                                                    رو حذف کنید؟ این عمل قابل بازگشت نیست!!
                                                </p>
                                            </div>
                                            <div class="modal-footer-centered mt-3">
                                                <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel-delete-{{project.id}}">کنسل</button>
                                                <button type="button" value="Delete" class="btn btn-danger" onclick="delete_project(endpoint='{{project|get_delete_endpoint:project.id}}', project_id={{project.id}})">حذف</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "account/dashboard/inc/pagination.html" %}
            </div>
        </div>
    </div>
</div>
<script>
    function delete_project(endpoint, project_id){
        $.ajax({
            url: endpoint,
            method: "GET",
            data: {},
            success: function(response){
                $('#delete-modal-' + project_id + " .close").click();
                $('#project-table-'+project_id).remove();

                var project_count = $(".responsive-table").length;
                var current_url = window.location.href;
                if (project_count == 0 && current_url.includes("?page=")) {
                    window.location.replace("{% url 'account:manage-project' %}")
                }
            }
        });
    }
</script>
{% endblock content %}
