{% extends 'base/base_dashboard.html' %}
{% load static %}
{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5">
        <div class="dashboard-content">
            <div class="dashboard-header clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-6"><h4>مدیریت پروژه ها</h4></div>
                    <div class="col-sm-12 col-md-6">
                        <div class="breadcrumb-nav">
                            <ul>
                                <li>
                                    <a href="index.html">Index</a>
                                </li>
                                <li>
                                    <a href="dashboard.html">Dashboard</a>
                                </li>
                                <li class="active">مدیریت پروژه ها</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-list">
                <div class="job-info job-info-2">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>عنوان پروژه</th>
                            <th class="ds-none"></th>
                            <th class="hdn">تاریخ</th>
                            <th>درخواست ها</th>
                            <th>وضعیت</th>
                            <th>تغیر</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr class="responsive-table">
                                    <td class="image">
                                        <a href="#"><img alt="my-properties-3" src="img/avatar/avatar-3.jpg" class="img-fluid"></a>
                                    </td>

                                    <td class="p-left-20">
                                        <div class="inner">
                                            <h5><a href="#">{{job.title}}</a></h5>
                                            <ul>
                                                <li><i class="flaticon-work"></i> {{job.company_name}}</li>
                                                <li><i class="flaticon-pin"></i> {{job.place}}</li>
                                                <li><i class="flaticon-time"></i>{{job.worktype}}</li>
                                            </ul>
                                        </div>
                                    </td>

                                    <td class="hdn">{{job.created|date:"H:m ,Y/m/d"}}</td>
                                    <td>{{job.job_applay.count}}</td>
                                    <td>{{job.status}}</td>
                                    <td class="actions">
                                        <a href="{% url '' %}"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="delete fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p class="sub-banner-2 text-center">© 2019 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
    </div>
</div>

{% endblock content %}