{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5">
        <div class="dashboard-content">
            <div class="dashboard-header clearfix">
                <div class="row" id="breadcrumb-head">
                    <div class="col-sm-12 col-md-6" id="breadcrumb-title">
                        <h4>مدیریت درخواست های دریافتی</h4>
                    </div>
                    <div class="col-sm-12 col-md-6" id="breadcrumb-items">
                        <div class="breadcrumb-nav" dir="ltr">
                            <ul>
                                {{get_breadcrumb}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="dashboard-list">
                <div class="job-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>درخواست دهنده</th>
                                <th>تاریخ</th>
                                <th>وضعیت درخواست</th>
                                <th>اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candid in obj_list %}
                                <tr class="responsive-table">
                                    <td>
                                        {% if candid.project.id %}
                                            <a href="{% url 'project:detail-project' candid.project.id %}">{{candid.project.title}}</a>
                                        {% else %}
                                            <a href="{% url 'job:detail-job' candid.job.id %}">{{candid.job.title}}</a>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <a href="{% url 'account:candidate-profile' candid.user.username %}">{{candid.user.username}}</a>
                                    </td>

                                    <td>
                                        {% comment %} {{ candid.created|date:"H:m ,Y/m/d" }} {% endcomment %}
                                        {{ candid.created|jformat:"%Y/%m/%d" }}
                                    </td>

                                    <td>
                                        {% if candid.status == 'wait' %}
                                            در حال انتظار
                                        {% elif candid.status == 'reject'%}
                                            رد شد
                                        {% else%}
                                            تایید شد
                                        {% endif %}
                                    </td>
                                    
                                    <td>

                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="edit-action" fill="none" viewBox="0 0 24 24" stroke="gray" stroke-width="2" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                            </svg>                                            
                                        <a>

                                        <a href="{% if candid.project %}#{% else %}{% url 'account:candidate-profile' candid.user.username %}{% endif %} ">
                                             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="gray" stroke-width="1" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg> 
                                        <a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'account/dashboard/inc/pagination.html' %}
            </div>
        </div>
        <p class="sub-banner-2 text-center">© 2019 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
    </div>
</div>
{% endblock content %}