{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5">
        <div class="dashboard-content">
            <div class="dashboard-header clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-6"><h4>مدیریت درخواستای ارسالی</h4></div>
                    <div class="col-sm-12 col-md-6">
                        <div class="breadcrumb-nav">
                            <ul>
                                <li>
                                    <a href="index.html">Index</a>
                                </li>
                                <li>
                                    <a href="dashboard.html">Dashboard</a>
                                </li>
                                <li class="active">مدیریت درخواستای ارسالی</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-list">
                <div class="job-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>نام پروژه</th>
                                <th>مبلغ</th>
                                <th>تاریخ تحویل(روز)</th>
                                <th>تاریخ درخواست</th>
                                <th>وضعیت درخواست</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sender in obj_list %}
                                <tr class="responsive-table">
                                    <td>
                                        <a href="{% url 'job:detail-job' sender.job.id %}">{{sender.job.title}}</a>
                                    </td>

                                    <td>
                                        {{ sender.bid_amount|intcomma:False}}
                                    </td>
                                    <td>
                                        {{ sender.bid_date}} 
                                    </td>
                                    <td>
                                        {{ sender.created|date:"H:m ,Y/m/d" }}
                                    </td>
                                    <td>
                                        {{ sender.status}}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'account/dashboard/inc/pagination.html' %}

            </div>
        </div>
        <p class="sub-banner-2 text-center">© 2019 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
    </div>
</div>
{% endblock content %}