{% extends 'base/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}


{% block custom_tag %}
    {{ forms.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage-apply.css' %}">
{% endblock custom_tag %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5">
        <div class="dashboard-content">
            <div class="dashboard-header clearfix">
                <div class="row" id="breadcrumb-head">
                    <div class="col-sm-12 col-md-6" id="breadcrumb-title">
                        <h4>درخواست های ارسالی</h4>
                    </div>
                    <div class="col-sm-12 col-md-6" id="breadcrumb-items">
                        <div class="breadcrumb-nav" dir="ltr">
                            <ul>
                                {{get_breadcrumb}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-list">
                <div class="job-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>شماره</th>
                                <th>پروژه</th>
                                <th>تعداد پیشنهاد ها</th>
                                <th>پیشنهاد من</th>
                                <th>تاریخ</th>
                                <th>وضعیت درخواست</th>
                                <th>اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sender in obj_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {{sender.project.title|truncatechars:30}}
                                    </td>
                                    <td>{{sender.project.apply_project.count}}</td>
                                    <td>{{sender.bid_amount|intcomma}}</td>
                                    <td>
                                        {{ sender.created|jformat:"%Y/%m/%d"}}
                                    </td>
                                    <td>
                                        {% if sender.status == 'wait' %}
                                            <p class="project-status-wait">
                                                در حال انتظار
                                            </p>
                                        {% elif sender.status == 'reject'%}
                                            <p class="project-status-reject">
                                                رد شد
                                            </p>
                                        {% else%}
                                            <p class="project-status-accept">
                                                تایید شد
                                            </p>
                                        {% endif %}
                                    </td>
                                    <td class="actions">
                                        <a class="show-project" href="{% url 'project:detail-project' sender.project.id %}" title="مشاهد پروژه">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="edit-action" fill="none" viewBox="0 0 24 24" stroke="#7d65ff" stroke-width="2" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg> 
                                        </a>
                                        <a href="#" title="ویرایش درخواست">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="edit-action" fill="none" viewBox="0 0 24 24" stroke="#62aaff" stroke-width="2" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            </svg>
                                        </a>
                                        <a href="#delete-modal-{{project.id}}" class="trigger-btn" data-toggle="modal" title="حذف درخواست">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="delete-action" fill="none" viewBox="0 0 24 24" stroke="#f15e5e" stroke-width="2" width="20px">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'account/dashboard/inc/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}