{% extends 'base/base_dashboard.html' %}
{% load static %}
{% block content %}
{% load jformat %}

<div class="col-lg-9 col-md-12 col-sm-12 col-pad">
    <div class="content-area5 dashboard-content">
        <div class="dashboard-header clearfix">
            <div class="row" id="breadcrumb-head">
                <div class="col-sm-12 col-md-6" id="breadcrumb-title">
                    <h4>پیام ها</h4>
                </div>
                <div class="col-sm-12 col-md-6" id="breadcrumb-items">
                    <div class="breadcrumb-nav" dir="ltr">
                        <ul>
                            {{get_breadcrumb}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <div class="submit-address dashboard-list">
            <form method="GET">
                <h4>Messages</h4>
                <div class="row pad-20">
                    <div class="col-lg-12">
                        <div class="comment">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="img/avatar/avatar-1.jpg" alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h5>
                                        Maikel Alisa
                                    </h5>
                                    <div class="comment-meta">
                                        8:42 PM 11/28/2018<a href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante.</p>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="img/avatar/avatar-2.jpg" alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h5>Teseira</h5>
                                    <div class="comment-meta">
                                        8:42 PM 11/28/2018<a href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante.</p>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="img/avatar/avatar-3.jpg" alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h5>John Antony</h5>
                                    <div class="comment-meta">
                                        8:42 PM 11/28/2018<a href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante.</p>
                            </div>
                        </div>
                        <div class="comment comment-b">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="img/avatar/avatar-4.jpg" alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h5>Emma Connor</h5>
                                    <div class="comment-meta">
                                        8:42 PM 11/28/2018<a href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim, tincidunt vel turpis vel, dapibus tempus nulla. Donec vel nulla dui. Pellentesque sed ante.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <p class="sub-banner-2 text-center">© 2019 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
    </div>
</div>

{% endblock content %}